* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3em;
  font-size: 3rem;
}

.services {
  background-image: url("/src/components/images/Classes.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-image: url("/src/components/images/gym.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.title-container {
  margin-top: 2em;
}

@media only screen and (max-width: 1024px) {
  .home,
  .services,
  .products,
  .contact {
    padding-left: 12px;
  }
}
